page-about-sitamet {

    ion-content {
        p {
            text-align: justify;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .logo {
        height: 18em;
    }

}
