// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #4267B2,
  secondary:  #f4f4f4,
  dark:       #404040,
  danger:     #dc143c,
  positive:   #01a57c
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-title-text-color: #404040;

// Alert
$alert-md-max-width: 100%;
$alert-md-max-height: 600px;

// Title alert
$alert-md-title-font-size: 1.5em;
$alert-md-head-text-align: center;
$alert-md-head-padding-top: 2em;

// Buttons group
$alert-md-button-group-padding-bottom: 0;
$alert-md-button-group-padding-end: 0;
$alert-md-button-group-padding-top: 0;
$alert-md-button-group-padding-start: 0;
$alert-md-button-group-justify-content: center;

$alert-md-box-shadow: none;

// Button alert
$alert-md-button-border-radius: 0;
$alert-md-button-font-weight: 100;
$alert-md-button-background-color: #DDDDDD;
$alert-md-button-text-color: #404040;
$alert-md-button-padding-top: 1.3em;
$alert-md-button-padding-start: 0;
$alert-md-button-padding-end: 0;
$alert-md-button-padding-button: $alert-md-button-padding-top; 
$alert-md-button-margin-end: 0;
$alert-md-button-margin-top: .5em;
$alert-md-button-margin-bottom: .5em;

// Searchbar
$searchbar-md-input-box-shadow: none;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
