<ion-header no-border>
  <ion-navbar hideBackButton>
    <ion-title class="title">Sitamet</ion-title>
    <ion-icon class="icon-menu" ion-button menuToggle end name="menu"></ion-icon>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment class="segment" [(ngModel)]="movementsSwitch" color="dark">
      <ion-segment-button class="button-segment" value="spent">
        Spent
      </ion-segment-button>
      <ion-segment-button class="button-segment" value="deposited">
        Deposited
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card class="card-balance" no-padding>
    <ion-card-header class="balance">{{balance}}€</ion-card-header>
    <ion-card-content class="subtitle">Balance</ion-card-content>
  </ion-card>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="movementsSwitch">

    <ion-list *ngSwitchCase="'spent'">
      <p class="subtitle" *ngIf="expenses.length == 0">No expenses</p>

      <ion-card *ngFor="let spent of expenses" class="card-movement">
        <ion-card-header no-padding>
          {{spent._concept}}
        </ion-card-header>
        <ion-card-content class="data-movement" no-padding>
          <p class="movement-value value-negative">{{spent._value}} €</p>
          <p class="movement-date">{{spent._date}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'deposited'">
      <p class="subtitle" *ngIf="deposits.length == 0">No deposits</p>

      <ion-card *ngFor="let deposit of deposits" class="card-movement">
        <ion-card-header no-padding>
          {{deposit._concept}}
        </ion-card-header>
        <ion-card-content class="data-movement" no-padding>
          <p class="movement-value value-positive">{{deposit._value}}€</p>
          <p class="movement-date">{{deposit._date}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

  </div>

  <ion-fab *ngIf="movementsSwitch === 'deposited'" class="add-button" right bottom (click)="addDeposit()">
    <button ion-fab color="deposited">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab *ngIf="movementsSwitch === 'spent'" class="add-button" right bottom>
    <button ion-fab color="spent">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>