<ion-header>
  <ion-navbar hideBackButton color="{{movementsSwitch}}">
    <ion-title>Sitamet</ion-title>
  </ion-navbar>

  <ion-toolbar no-border color="{{movementsSwitch}}">
    <ion-segment [(ngModel)]="movementsSwitch" no-padding color="light">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="spent">
        Spent
      </ion-segment-button>
      <ion-segment-button value="deposited">
        Deposited
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="card-balance">
    <ion-card-header class="balance" *ngFor="let balance of balance">{{balance.Balance}} €</ion-card-header>
  </ion-card>

  <div [ngSwitch]="movementsSwitch">

    <ion-list *ngSwitchCase="'all'">
      <ion-list>
        <ion-item *ngFor="let movement of movements">
          <p class="title-movement">{{movement.Concept}}</p>
          <div class="data-movement">
            <p>{{movement.Value}} €</p>
            <p>{{movement.Date}}</p>
          </div>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'spent'">
      <ion-list>
        <ion-item *ngFor="let spent of expenses">
          <p class="title-movement">{{spent.Concept}}</p>
          <div class="data-movement">
            <p>{{spent.Value}} €</p>
            <p>{{spent.Date}}</p>
          </div>
        </ion-item>
      </ion-list>

      <ion-fab right bottom>
        <button ion-fab color="spent">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-list>

    <ion-list *ngSwitchCase="'deposited'">
      <ion-list>
        <ion-item *ngFor="let deposited of deposits">
          <p class="title-movement">{{deposited.Concept}}</p>
          <div class="data-movement">
            <p>{{deposited.Value}} €</p>
            <p>{{deposited.Date}}</p>
          </div>
        </ion-item>
      </ion-list>

      <ion-fab right bottom>
        <button ion-fab color="deposited">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>

    </ion-list>
  </div>

</ion-content>