<ion-header no-border>
  <ion-navbar>
    <ion-title>Add Deposit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [formGroup]="validatorDeposits">

  <ion-list class="form-list">

    <ion-item class="form-item">
      <ion-label floating>Concept</ion-label>
      <ion-input type="text" [(ngModel)]="concept" formControlName="concept"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validatorDepositsMessages.concept">
      <p class="form-error-message"
        *ngIf="validatorDeposits.get('concept').hasError(validation.type) && hasError(validatorDeposits.get('concept'))">
        {{ validation.message }}
      </p>
    </ng-container>

    <ion-item class="form-item">
      <ion-label floating>Value</ion-label>
      <ion-input type="number" [(ngModel)]="value" formControlName="value"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validatorDepositsMessages.value">
        <p class="form-error-message"
          *ngIf="validatorDeposits.get('value').hasError(validation.type) && hasError(validatorDeposits.get('value'))">
          {{ validation.message }}
        </p>
      </ng-container>

  </ion-list>

</ion-content>

<ion-fab right bottom class="add-button">
  <button ion-fab color="deposited" [disabled]="errorsFormGroup(validatorDeposits)" (click)="addMovement()">
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-fab>